.env
.env.*
.git
.idea
.vscode
.npm-cache
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
public/storage
ocr_service/.env
ocr_service/.venv
ocr_service/__pycache__
*.log
